<!DOCTYPE html>
<html>
    <head>
        <title> SINATASK! </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <div class="row">
    <%= image_tag("/tatry1.jpg", :alt => "Błyszcz, 2159 m") %>
		<div class="col-md-12"><img src="./views/cabezal.jpg" alt="Logo Sinatask!"></div>
		<div class="col-md-12">
        	<div class="container-fluid">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
  					<a href="/nuevatarea" class="btn btn-info" role="button">Crear Tareas</a>
  					<a href="/actualizatarea" class="btn btn-info" role="button">Completar Tareas</a>
  					<a href="/eliminartarea" class="btn btn-info" role="button">Borrar Tareas</a>
  					<a href="/listarsincompletar" class="btn btn-info" role="button">Listar Tareas Sin Completar</a>
  					<a href="/listarcompletadas" class="btn btn-info" role="button">Listar Tareas Completadas</a>
				</div>
			</div>
		</div>
		<div class="col-md-12" align="center">
		<h1>Eliminar una tarea</h1>
			<form action="/deletetask" method="get">
 				<p align="center">Ingrese el número (ID) de la tarea a eliminar</p>
				<input type="text" name="deletask" align="center">
  				<input type="submit" value="Borrar!" align="center">
          <p align="center" style="color:red; border:bold;"><%= msgx %></p>
			</form>
		</div>
	</div>
    </body>
</html>