<!DOCTYPE html>
<html>
    <head>
        <title> --- Sinatask!! - Menú de Opciones ---</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>
    <body>
    <div class="row">
		<div class="col-md-12"><img src="cabezal.jpg" alt="Logo Sinatask!"></div>
		<div class="col-md-12">
        	<div class="container-fluid">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
  					<div class="btn-group" role="group">
    					<button type="button" class="btn btn-default" >Crear Tareas</button>
  					</div>
    				<div class="btn-group" role="group">
    					<button type="button" class="btn btn-default">Completar Tareas</button>
  					</div>
 	 				<div class="btn-group" role="group">
    					<button type="button" class="btn btn-default">Borrar Tareas</button>
  					</div>
  	 				<div class="btn-group" role="group">
    					<button type="button" class="btn btn-default">Listar Tareas Sin Completar</button>
  					</div>
    				<div class="btn-group" role="group">
    					<button type="button" class="btn btn-default">Listar Tareas Completadas</button>
  					</div>
				</div>
			</div>
		</div>
	</div>


    </body>
</html>

   