<h1> ----- Sinatask!!! -------</h1>
<form action="/" method="get">
 <p>Selecciona la opción</p>
  <input type="submit" value="Listar Tareas Sin Completar">
  <input type="submit" value="Listar Tareas Completadas">
  <input type="submit" value="Crear Tareas" name=>
  <input type="submit" value="Completar Tareas">
  <input type="submit" value="Borrar Tareas">
</form>