<h1> ----- Sinatask!!! -------</h1>
<form action="/nuevatarea" method="get">
 <p>Ingrese el nombre de la nueva tarea</p>
	<input type="text" name="newtask">
  <input type="submit" value="Guardar!">
</form>